net_connect_type=0
wired_ip_config.ipaddr=192.168.9.169
wired_ip_config.submask=255.255.255.0
wired_ip_config.gatwa=192.168.9.256	
wired_ip_config.dns1=192.168.9.11
wired_ip_config.dns2=192.168.9.10	
wireless_ip_config.ipaddr=192.168.3.100
wireless_ip_config.submask=255.255.255.0
wireless_ip_config.gatway=192.168.3.1	
wireless_ip_config.dns1=192.168.3.1
wireless_ip_config.dns2=192.168.3.10	
wifi_config_info.encryption=2
wifi_config_info.ssid=TPTP	
wifi_config_info.key=44445555
str_account=zhsb
str_password=123456678